<h2><%= author.name %></h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs', {url: `/authors/${author.id}`}) %> <%
if(booksByAuthor.length > 0) { %>
<h2>Books By Author</h2>
<div>
  <% booksByAuthor.forEach(book => { %>
  <img
    alt="book image"
    width="100px"
    height="150px"
    src="<%= book.coverImagePath %> "
  />
  <% }) %>
</div>
<% } %>
